.app-section {
  padding-bottom: 100px;
  .section__body {
    display: flex;
    gap: 144px;

    .content {
      display: grid;
      grid-template-rows: min-content min-content min-content;

      max-width: 600px;

      & :nth-child(1) {
        margin-bottom: 0;
      }

      .btn {
        @extend %fsmall;
      }
    }

    .img {
      width: 333px;
      height: auto;
    }
  }
}

@media screen and (max-width: 910px) {
  .app-section {
    .section__body {
      flex-direction: column;
      gap: 0;

      .content {
        order: 1;
      }

      .img {
        align-self: center;

        order: 0;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .app-section {
    .section__body {
      .img {
        width: 300px;
        height: auto;
      }
    }
  }
}
