.pricing-section {
    .section__body {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;

        &>:nth-child(1) {
            background-image: url('../images/subscribe_1.png');
        }
        &>:nth-child(2) {
            background-image: url('../images/subscribe_2.png');;
        }
        &>:nth-child(3) {
            background-image: url('../images/subscribe_3.png');;
        }

        .pricing-item {
            flex-basis: 30.5%;
            
            display: grid;
            grid-template-rows: min-content 12.5em min-content 2.5em min-content 4em;
            
            border-radius: 1em;

            color: $white;
            text-align: center;

            background-repeat: no-repeat;
            background-size: cover;

            transition: 0.3s;

            padding: 1.5em;
            padding-bottom: 4em;

            &__title {
            }
            &__value {
                grid-row: 3 / span 1;

                justify-self: center;

                display: grid;
                grid-template-columns: min-content min-content;
                gap: 1rem;

                @include text(4em, 1em, 400);
                @include upCase;

                margin: 0;

                .currency {
                    grid-column: 2 / span 1;

                    @extend %f3;
                }
            }

            .btn {
                grid-row: 5 / span 1;
            }

            &__description {
                grid-row: 7 / span 1;

                @extend %fsmall;

                margin: 0;
            }

            &:hover {
                transform: scale(1.05);
            }
        }

        &-description {
            grid-column: span 3;
            text-align: center;

            margin: -10px 0 0;
        }
    }
}

@media screen and (max-width: 1239px) {
    .pricing-section {
        .section__body {
            .pricing-item {
                flex-basis: 374px;
            }
        }
    }    
}

@media screen and (max-width: 400px) { 
    .pricing-section {
        .section__body {
            .pricing-item {
                flex-basis: 320px;
            }
        }
    } 
}