@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
.page-description .head {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
}

.page-description .subhead, .section__title {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
}

.pricing-section .section__body .pricing-item__title {
  font-size: 24px;
  line-height: 45px;
  font-weight: 400;
}

.page-description .caption {
  font-size: 16px;
  line-height: 24px;
}

.pricing-section .section__body .pricing-item__value .currency {
  font-size: 32px;
  line-height: 48px;
}

.pricing-section .section__body .pricing-item__description {
  font-size: 12.8px;
  line-height: 19.2px;
}

.section {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 3em;
  padding: 100px 20px 0;
}
.section__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.section__body {
  margin: 0 auto;
}

@media screen and (max-width: 571px) {
  .section__title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
  }
}
* {
  box-sizing: border-box;
}

.body {
  font: 16px/1.5 "Roboto", sans;
  background-color: #08020d;
  color: #fff;
  margin: 0;
}

.main {
  margin-top: -25px;
}

@media screen and (max-width: 886px) {
  .main {
    margin-top: -68px;
  }
}
@media screen and (max-width: 491px) {
  .main {
    margin-top: -160px;
  }
}
.btn {
  font-size: inherit;
  line-height: inherit;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #34C176;
  cursor: pointer;
  transition: 0.3s;
  padding: 20px 30px;
}
.btn:hover {
  transform: scale(1.05);
}
.btn_green {
  background-color: #34C176;
}
.btn_tp {
  background-color: transparent;
  border: 1px solid #fff;
}
.btn_f-small {
  font-size: 13.3px;
  line-height: 15px;
}

.header {
  display: flex;
  align-items: center;
  gap: 90px;
  max-width: 1200px;
  font-size: 11px;
  line-height: 16.5px;
  text-transform: uppercase;
  transform: translateY(25px);
  margin: 0 auto;
}
.header .identic {
  display: flex;
  gap: 16px;
  align-items: center;
}
.header .identic .logo {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/src/images/logo.svg");
}
.header .nav {
  display: flex;
  gap: 24px;
}
.header .nav .item {
  color: #CACACA;
  text-decoration: none;
  transition: 0.3s;
}
.header .nav .item:hover {
  color: #fff;
}
.header .search {
  margin-left: auto;
}
.header .search .input {
  font-size: 13.3px;
  line-height: 15.29px;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  text-transform: uppercase;
  min-width: 248px;
  height: 25px;
  background-color: #3C3B3D;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
}

@media screen and (max-width: 1251px) {
  .header {
    padding: 0 20px;
  }
}
@media screen and (max-width: 886px) {
  .header {
    flex-wrap: wrap;
    gap: 18px;
  }
  .header .nav {
    margin-left: auto;
  }
  .header .search {
    width: 100%;
    margin: 0;
  }
  .header .search .input {
    width: 100%;
  }
}
@media screen and (max-width: 491px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }
  .header .identic .title {
    font-weight: 700;
  }
  .header .nav {
    flex-direction: column;
    gap: 3px;
    font-weight: 700;
    margin-left: 0;
  }
}
.page-description {
  display: grid;
  grid-template-rows: min-content min-content 1.875em min-content 1em min-content;
  justify-content: center;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}
.page-description .head {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.page-description .subhead {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.page-description .caption {
  grid-row-start: 4;
  text-align: center;
  margin: 0;
}
.page-description .subscribe-form {
  grid-row-start: 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px;
  gap: 24px;
  max-width: 570px;
  width: 100%;
  justify-self: center;
}
.page-description .subscribe-form .input {
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  color: #fff;
  border: 2px solid #CACACA;
  border-radius: 3px;
  background-color: transparent;
  min-width: 270px;
  max-height: 50px;
  padding: 16px 22.24px 18px;
}
.page-description .subscribe-form .input::placeholder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
}
.page-description .subscribe-form .btn {
  grid-row-start: 2;
  grid-column: 1/span 2;
}

@media screen and (max-width: 1251px) {
  .page-description {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 571px) {
  .page-description {
    grid-template-rows: min-content min-content 1em min-content 1em min-content;
    padding-top: 260px;
  }
  .page-description .head {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
  }
  .page-description .subhead {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
  }
  .page-description .subscribe-form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 50px);
  }
  .page-description .subscribe-form :nth-child(2) {
    grid-row: 2/span 1;
  }
  .page-description .subscribe-form .btn {
    grid-row: 3/span 1;
    grid-column: 1/span 1;
  }
}
.pricing-section .section__body {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: min-content;
  gap: 50px;
}
.pricing-section .section__body > :nth-child(1) {
  background-image: url("../images/subscribe_1.png");
}
.pricing-section .section__body > :nth-child(2) {
  background-image: url("../images/subscribe_2.png");
}
.pricing-section .section__body > :nth-child(3) {
  background-image: url("../images/subscribe_3.png");
}
.pricing-section .section__body .pricing-item {
  display: grid;
  grid-template-rows: min-content 12.5em min-content 2.5em min-content 4em;
  border-radius: 1em;
  text-align: center;
  width: 374px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  padding: 1.5em;
  padding-bottom: 4em;
}
.pricing-section .section__body .pricing-item__title {
  text-transform: uppercase;
  margin: 0;
}
.pricing-section .section__body .pricing-item__value {
  grid-row: 3/span 1;
  justify-self: center;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1rem;
  font-size: 4em;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
}
.pricing-section .section__body .pricing-item__value .currency {
  grid-column: 2/span 1;
}
.pricing-section .section__body .pricing-item .btn {
  grid-row: 5/span 1;
}
.pricing-section .section__body .pricing-item__description {
  grid-row: 7/span 1;
  margin: 0;
}
.pricing-section .section__body .pricing-item:hover {
  transform: scale(1.05);
}
.pricing-section .section__body-description {
  grid-column: span 3;
  text-align: center;
  margin: -10px 0 0;
}

@media screen and (max-width: 1280px) {
  .pricing-section .section__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 571px) {
  .pricing-section .section__body .pricing-item__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
}

/*# sourceMappingURL=style.css.map */
