@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
.head {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.f-white {
  color: #fff;
}

.f-dark-gray {
  color: #CACACA;
}

.f-orange {
  color: #F89202;
}

/* Desktop typography */
.h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
}

.h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
}

.h3 {
  font-size: 24px;
  line-height: 45px;
  font-weight: 400;
}

.h4 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}

/* Mobile typography */
@media screen and (max-width: 571px) {
  .h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
  }
  .h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
  }
  .h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
  .h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }
}
.app-section .section__body .content .btn, .pricing-section .section__body .pricing-item__description {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: 400;
}

.container .content {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}

@media screen and (max-width: 1200px) {
  .container .content {
    padding-inline: 20px;
  }
}
.btn {
  font-size: inherit;
  line-height: inherit;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.05);
}
.btn_b-r5 {
  border-radius: 5px;
}
.btn_b-r32 {
  border-radius: 32px;
}
.btn_green {
  background-color: #34C176;
}
.btn_red {
  background-color: #95390C;
}
.btn_purple {
  background-color: #5328A1;
}
.btn_tp {
  background-color: transparent;
}
.btn_b-white {
  border: 1px solid #fff;
}
.btn_b-dark-gray {
  border: 1px solid #CACACA;
}
.btn_fit {
  width: fit-content;
}
.btn_pad16-30 {
  padding: 16px 30px;
}
.btn_pad16-40 {
  padding: 16px 40px;
}
.btn_pad20-30 {
  padding: 20px 30px;
}

.section {
  display: grid;
  grid-auto-flow: row;
  gap: 3em;
  padding-top: 100px;
}
.section__title, .section__body {
  justify-self: center;
  max-width: 1200px;
  width: 100%;
}

@media screen and (max-width: 1239px) {
  .section {
    padding-inline: 20px;
  }
}
@media screen and (max-width: 400px) {
  .section {
    padding-inline: 10px;
  }
}
.header {
  position: absolute;
  top: 25px;
  left: 50%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 90px;
  font-size: 11px;
  line-height: 16.5px;
  font-weight: 400;
  text-transform: uppercase;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
}
.header .identic {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header .identic .logo {
  width: 24px;
  height: 24px;
}
.header .nav {
  display: flex;
  gap: 24px;
}
.header .nav .item {
  color: #CACACA;
  text-decoration: none;
  transition: 0.3s;
}
.header .nav .item:hover {
  color: #fff;
}
.header .search {
  margin-left: auto;
}
.header .search .input {
  font-size: 13.5px;
  line-height: 15.5px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  min-width: 248px;
  height: 25px;
  background-color: #3C3B3D;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
}

@media screen and (max-width: 1240px) {
  .header {
    padding-inline: 20px;
  }
}
@media screen and (max-width: 900px) {
  .header {
    grid-auto-flow: row;
    gap: 18px;
  }
  .header .identic {
    grid-row: 1/span 1;
  }
  .header .nav {
    grid-row: 1/span 1;
    margin-left: auto;
  }
  .header .search {
    grid-column: 1/span 2;
    margin: 0;
  }
  .header .search .input {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .header .identic .title {
    font-weight: 700;
  }
  .header .nav {
    grid-row: 2/span 1;
    flex-direction: column;
    gap: 3px;
    font-weight: 700;
    margin-left: 0;
  }
}
.footer {
  padding: 3em 2em;
}
.footer > * {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}
.footer__body {
  display: flex;
  gap: 40px;
  margin-bottom: 7em;
}
.footer__body .list {
  flex: 1 1 270px;
}
.footer__body .socials {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: repeat(4, min-content);
  column-gap: 24px;
}
.footer__body .socials .list-title {
  grid-column: 1/span 4;
}
.footer__body .socials .list-item:hover > * {
  filter: sepia(100%) brightness(200%);
}
.footer__footer::before {
  position: absolute;
  content: "";
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #CACACA;
  margin-top: -2.5em;
}
.footer__footer .list {
  display: flex;
  gap: 1em;
}

@media screen and (max-width: 1200px) {
  .footer {
    padding-inline: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer__body {
    flex-direction: column;
    gap: 30px;
  }
  .footer__body .list {
    flex-basis: auto;
  }
  .footer__footer .list {
    flex-direction: column;
  }
}
* {
  box-sizing: border-box;
}

.body {
  font: 16px/1.5 "Roboto", sans;
  color: #CACACA;
  background-color: #08020d;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
  width: fit-content;
  margin: 0;
  padding: 0;
}
.list-title {
  text-align: left;
  margin-bottom: 15px;
}
.list-item > * {
  transition: 0.3s;
}
.list-item:hover > * {
  color: #fff;
}

.bg-img {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.page-description {
  display: grid;
  grid-template-rows: min-content min-content 2em min-content 1em min-content;
  justify-content: center;
  color: #fff;
  padding: 200px 0;
}
.page-description .caption {
  grid-row-start: 4;
  text-align: center;
  margin: 0;
}
.page-description .subscribe-form {
  grid-row-start: 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px;
  gap: 24px;
  max-width: 570px;
  width: 100%;
  justify-self: center;
}
.page-description .subscribe-form .input {
  font-size: 14px;
  line-height: 16.5px;
  font-weight: 700;
  color: #fff;
  border: 2px solid #CACACA;
  border-radius: 3px;
  background-color: transparent;
  min-width: 270px;
  max-height: 50px;
  padding: 16px 22.25px 18px;
}
.page-description .subscribe-form .input::placeholder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
}
.page-description .subscribe-form .btn {
  grid-row-start: 2;
  grid-column: 1/span 2;
  font-size: 13.5px;
  line-height: 15px;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .page-description {
    grid-template-rows: min-content min-content 1em min-content 1em min-content;
    padding-top: 250px;
  }
  .page-description .subscribe-form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 50px);
  }
  .page-description .subscribe-form :nth-child(2) {
    grid-row: 2/span 1;
  }
  .page-description .subscribe-form .btn {
    grid-row: 3/span 1;
    grid-column: 1/span 1;
  }
}
.pricing-section .section__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.pricing-section .section__body > :nth-child(1) {
  background-image: url("../images/subscribe_1.png");
}
.pricing-section .section__body > :nth-child(2) {
  background-image: url("../images/subscribe_2.png");
}
.pricing-section .section__body > :nth-child(3) {
  background-image: url("../images/subscribe_3.png");
}
.pricing-section .section__body .pricing-item {
  flex-basis: 30.5%;
  display: grid;
  grid-template-rows: min-content 12.5em min-content 2.5em min-content 4em;
  border-radius: 1em;
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  padding: 1.5em;
  padding-bottom: 4em;
}
.pricing-section .section__body .pricing-item__value {
  grid-row: 3/span 1;
  justify-self: center;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1rem;
  font-size: 4em;
  line-height: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.pricing-section .section__body .pricing-item__value .currency {
  grid-column: 2/span 1;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
}
.pricing-section .section__body .pricing-item .btn {
  grid-row: 5/span 1;
}
.pricing-section .section__body .pricing-item__description {
  grid-row: 7/span 1;
  margin: 0;
}
.pricing-section .section__body .pricing-item:hover {
  transform: scale(1.05);
}
.pricing-section .section__body-description {
  grid-column: span 3;
  text-align: center;
  margin: -10px 0 0;
}

@media screen and (max-width: 1239px) {
  .pricing-section .section__body .pricing-item {
    flex-basis: 374px;
  }
}
@media screen and (max-width: 400px) {
  .pricing-section .section__body .pricing-item {
    flex-basis: 320px;
  }
}
.news-section .section__body {
  display: grid;
  gap: 65px;
}
.news-section .section__body .news-item {
  display: grid;
  column-gap: 50px;
}
.news-section .section__body .news-item__img {
  grid-row: 1/span 2;
  height: 100%;
}
.news-section .section__body .news-item__body {
  grid-column: 2/span 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 24px;
}
.news-section .section__body .news-item__body .news-title {
  text-align: left;
  text-transform: none;
}
.news-section .section__body .news-item__body .news-text {
  margin: 0;
}
.news-section .section__body .news-item__footer {
  grid-column: 2/span 1;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.news-section .section__body .news-item__footer .news-author {
  display: flex;
  gap: 16px;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
}
.news-section .section__body .news-item__footer .news-author__avatar {
  width: 19px;
  height: 19px;
  background-image: url("../images/avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 100%;
}
.news-section .section__body .news-item__footer .news-author__name {
  margin: 0;
}
.news-section .section__body .news-item__footer .news-author__date {
  margin: 0;
}
.news-section .section__body .news-item__footer .btn {
  margin-bottom: 1em;
}
.news-section .section__body :nth-child(2n) .news-item__img {
  grid-column: 2/span 1;
}
.news-section .section__body :nth-child(2n) .news-item__body {
  grid-column: 1/span 1;
}
.news-section .section__body :nth-child(2n) .news-item__footer {
  grid-column: 1/span 1;
}

@media screen and (max-width: 1239px) {
  .news-section .section__body .news-item {
    display: flex;
    flex-direction: column;
  }
  .news-section .section__body .news-item__img {
    align-self: center;
    width: 374px;
    margin-bottom: 50px;
  }
  .news-section .section__body .news-item__body {
    gap: 16px;
  }
}
@media screen and (max-width: 571px) {
  .news-section .section__body .news-item__body .news-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}
@media screen and (max-width: 400px) {
  .news-section .section__body .news-item__img {
    width: 300px;
    height: auto;
  }
}
.app-section {
  padding-bottom: 100px;
}
.app-section .section__body {
  display: flex;
  gap: 144px;
}
.app-section .section__body .content {
  display: grid;
  grid-template-rows: min-content min-content min-content;
}
.app-section .section__body .content :nth-child(1) {
  margin-bottom: 0;
}
.app-section .section__body .img {
  width: 333px;
  height: auto;
}

@media screen and (max-width: 910px) {
  .app-section .section__body {
    flex-direction: column;
    gap: 0;
  }
  .app-section .section__body .content {
    order: 1;
  }
  .app-section .section__body .img {
    align-self: center;
    order: 0;
  }
}
@media screen and (max-width: 400px) {
  .app-section .section__body .img {
    width: 300px;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
