.discography {
    .section__body {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 25px;
        .album {
            &-img {
                width: 250px;
                height: 250px;

                margin-bottom: 17px;
            }
            &-info {
                .title,
                .year {
                    margin: 0;
                } 

                .title {
                    text-align: left;
                    text-transform: none;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .discography {
        .section__body {
            .album {
                max-width: 137px;
                &-img {
                    width: 137px;
                    height: 137px;
                }
            }
        }
    }
    
}

@media screen and (max-width: 350px) {

    .discography {
        .section__body {
            justify-content: center;
        }
    }
    
}