.similar {
    .section__body {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 25px;

        .artist {
            display: grid;
            gap: 18px;
            max-width: 250px;
            &-img {
                justify-self: center;
                width: 250px;
                height: 250px;
            }
            &-info {
                .name,
                .subscribers {
                    text-align: center;
                    margin: 0;
                }

                .name {
                    text-transform: none;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .similar {
        .section__body {
            .artist {
                max-width: 137px;
                &-img {
                    width: 137px;
                    height: 137px;
                }
            }
        }
    }
    
}

@media screen and (max-width: 350px) {
    .similar {
        .section__body {
            row-gap: 30px;
            justify-content: center;
        }
    }
}
    