.container {
    width: 100%;
    max-width: 1240px;

    padding-inline: 20px;
    margin-inline: auto;
}

@media screen and (max-width: 400px) {
    .container {
      padding-inline: 10px;
    }    
}