.container {
    .content {
      max-width: 1200px;

      width: 100%;

      margin-inline: auto;
    }
}

@media screen and (max-width:1200px) {
    .container {
        .content {
            padding-inline: 20px;
        }
    }
}