.footer {
    padding-top: 3.375em;
    padding-bottom: 2.25em;

    max-width: 1200px;
    width: 100%;

    margin: 0 auto;

    &__body {
        display: flex;
        gap: 40px;

        margin-bottom: 7em;
        .list {
            flex: 1 1 22.5%;
            &-title {
                width: 100%;
            }
        }

        .socials {
            display: grid;
            grid-template-rows: min-content 24px;
            grid-template-columns: repeat(4, min-content);

            column-gap: 24px;

            .link {
                display: flex;
                align-items: center;

                width: fit-content;
            }

            .list-title {
                grid-column: 1 / span 4;
            }

            .list-item:hover > * {
                filter: sepia(100%) brightness(200%);
            }
        }
    }
    &__footer {

        &::before {
            position: absolute;
            content: '';

            left: 0;

            height: 2px;
            width: 100%;

            background-color: $d-gray;

            margin-top: -2.5em;
        }

        .list {
            display: flex;
            gap: 1em;
        }
    }
}

@media screen and (max-width:1240px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:768px) {
    .footer {
        &__body {
            flex-direction: column;
            gap: 30px;

            .list {
                width: 100%;
            }
        }
        &__footer {
            .list {
                flex-direction: column;
            }
        }
    }
}
