.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    padding: 3.375em 0 2.25em 100px;

    max-width: 1240px;

    margin: 0 auto;

    .list {
        min-width: 270px;
    }


    .socials {
        display: grid;
        grid-template-rows: min-content 24px;

        &-container {
            display: flex;
            column-gap: 24px;
        }

        .link {
            display: flex;
            align-items: center;

            width: fit-content;
        }

        .list-item:hover > * {
            filter: sepia(100%) brightness(200%);
        }
    }

    .nav-alt {
        display: flex;
        gap: 16px;

        margin-top: 4em;

        &::before {
            position: absolute;
            content: '';

            left: 0;

            height: 2px;
            width: 100%;

            background-color: $d-gray;

            margin-top: -2.5em;
        }
    }
}




@media screen and (max-width:768px) {
    .footer {
            flex-direction: column;
            gap: 30px;

            .list {
                max-width: 100%;
                width: 100%;
            }

            .nav-alt {
                flex-direction: column;

                max-width: 100%;

                width: 100%;
            }
    }
}
