.footer {
    padding: 3.2em 2em;
    &>* {
        max-width: 1200px;

        width: 100%;

        margin-inline: auto;
    }
    &__body {
        display: flex;
        gap: 40px;

        margin-bottom: 7em;
        .list {
            &-title {
                width: 270px;
            }
        }

        .socials {
            display: grid;
            grid-template-rows: min-content min-content;
            grid-template-columns: repeat(4, minmax(12px, 26px));

            column-gap: 24px;

            .link {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .list-title {
                grid-column: 1 / span 4;
            }

            .list-item:hover > * {
                filter: sepia(100%) brightness(200%);
            }
        }
    }
    &__footer {

        &::before {
            position: absolute;
            content: '';

            left: 0;

            height: 2px;
            width: 100%;

            background-color: $d-gray;

            margin-top: -2.5em;
        }

        .list {
            display: flex;
            gap: 1em;
        }
    }
}

@media screen and (max-width:1200px) {
    .footer {
        padding-inline: 20px;
    }
}

@media screen and (max-width:768px) {
    .footer {
        &__body {
            flex-direction: column;
            gap: 30px;

            .list {
                flex-basis: auto;
            }
        }
        &__footer {
            .list {
                flex-direction: column;
            }
        }
    }
}
