.section {
    display: grid;
    grid-auto-flow: row;
    gap: 3em;

    padding-top: 100px;

    &__title,
    &__body {
        justify-self: center;

        max-width: 1200px;

        width: 100%;
    }
}

@media screen and (max-width: 1239px) {
    .section {
        padding-inline: 20px;
    }
}

@media screen and (max-width: 400px) {
    .section {
        padding-inline: 10px;
    }
}