@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@mixin text($size, $lh, $fw) {
  font-weight: $fw;
  font-size: $size;
  line-height: $lh;
}

@mixin up-case {
  text-transform: uppercase;
}

@mixin marg-0 {
  margin: 0;
}

@mixin t-alg-centr {
  text-align: center;
}

.head {
  color: $white;

  @include t-alg-centr;
  @include up-case;
  @include marg-0;
}

.f-white {
  color: $white;
}

.f-dark-gray {
  color: $d-gray;
}

.f-orange {
  color: $orange;
}

.h1 {
  @include text(60px, 90px, 700);
}

.h2 {
  @include text(38px, 57px, 700);
}

.h3 {
  @include text(24px, 45px, 400);
}

.h4 {
  @include text(18px, 27px, 700);
}

@media screen and (max-width: 571px) {
  .h1 {
    @include text(30px, 45px, 700);
  }

  .h2 {
    @include text(18px, 27px, 700);
  }

  .h3 {
    @include text(16px, 24px, 400);
  }

  .h4 {
    @include text(18px, 27px, 700);
  }
}

%fsmall {
  @include text(12.8px, 19.2px, 400);
}

%fsmall-bold {
  @include text(12.8px, 19.2px, 700);
  @include up-case;
}
