.app-section {
    padding-bottom: 100px;

    .section__body {
        display: flex;
        gap: 144px;
        .content {
            display: grid;
            grid-template-rows: min-content min-content min-content;
            .btn {
                @include text(12.8px, 19.2px);
                width: fit-content;

                padding: 16px 40px;
            }
        }
        .img {
            width: 333px;
            height: auto;
        }
    }
}

@media screen and (max-width: 910px) {
    .app-section {
        .section__body {
            flex-direction: column;
            gap: 0;
            .content {
                order: 1;
            }
            .img {
                align-self: center;

                order: 0;
            }
        }
    }
}