@import './typography.scss';
@import './btn.scss';
@import './section.scss';
@import './header.scss';
@import './main.scss';
@import './footer.scss';

* {
    box-sizing: border-box;
}

.body {
    font: 16px/1.5  'Roboto', sans;
    color: $d-gray;

    background-color: #08020d;

    margin: 0;
}