.section {
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 3em;

    padding: 100px 20px 0;

    &__title {
        text-align: center;
        text-transform: uppercase;

        margin: 0;
    }
    &__body {
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {
    .section {
        padding: 100px 10px 0;
    }
}