$white: #fff!default;
$black: #08020D!default;
$dark: #3C3B3D!default;
$gray: #E0E0E0!default;
$d-gray: #CACACA!default;
$green: #34C176!default;
$orange: #F89202!default;
$purple: #5328A1!default;
$red: #95390C!default;






